@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

/* Theme smoothly switch ஆக இது உதவும் */
html, body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark {
  color-scheme: dark;
}

/* முழு Website-க்கும் Cursor-ஐ மாற்றுவதற்கு */
body {
  /* Image அல்லது Custom Cursor URL */
  cursor: url('https://cdn-icons-png.flaticon.com/32/1077/1077035.png'), auto; 
}

/* Button & Links மேல் Mouse செல்லும் போது வேறு மாதிரி மாற்ற: */
a, button, .clickable {
  cursor: pointer; /* அல்லது உங்கள் விருப்பப்படி custom url கொடுக்கலாம் */
}